  *{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html, body{
    height: 70%;
}

body {
    background-color: rgb(65, 90, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 65px;
    font-style: oblique;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

#color-palette {
    height: 800px;
    display: flex;
}

.color {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
    border: 1px solid;


}

#color01 {
    background-color: black;
}

#color02 {
    background-color: rgb(218, 245, 13);
}

#color03 {
    background-color: rgb(20, 243, 235);
}

#color04 {
    background-color: rgb(135, 60, 160);
}

.pixel {
    background-color: white;
    border-radius: 2px;
}

#pixel-board {
    --size:5;
    margin-top: 10px;
    height:800px;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(var(--size),1fr);
    grid-template-rows: repeat(var(--size),1fr);
    background-color:black;
    border-radius: 2px;
    display:flex;
    
}